<!DOCTYPE html>
<html>
<head>
    <title>Enroll</title>
</head>
<body>
    <h1>Enroll</h1>
    <form method="POST" action="/enroll">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" required>
        <button type="submit">Enroll</button>
	After pressing enroll follow these steps:
	<ol>
		<li>Wait for blue light to turn on in fingerprint sensor</li>
		<li>Place your finger</li>
		<li>Remove it and place your finger after 2 seconds</li>
		<li>Remove your finger and you will get enrolled</li>
	</ol>
	<br>
	<h1>{{message}}</h1> 
    </form>
</body>
</html>
