<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form method="POST" action="/login">
    <label for="id">ID:</label>
    <input type="text" id="id" name="id" required>
    <button type="submit">Login</button>
</form>
{% if message %}
<p>{{ message }}</p>
{% endif %}
</body>
</html>


<style>
    #header{
        font-weight: bold;
        font-size: 30px;
        color: rgb(18, 19, 19);
        margin-top: 20%;
        font-family: Helvetica;
    }


</style>

<html>
<title>Registration</title>
<body>
<form method="POST" action="/">
    <center>
        {% if message %}
        <p id="header">{{ message }}</p>
        {% endif %}

        <button type="submit">GO BACK</button>
    </center>
</form>
</body>
</html>
