<style>
    #header{
        font-weight: bold;
        font-size: 30px;
        color: rgb(18, 19, 19);
        margin-top: 20%;
        font-family: Helvetica;
    }

    #back{
        height: 50px;
        width: 250px;
        padding: 30px,10px,30px,10px;
        background-color: red;
        color: white;
        border-radius: 12px;
        margin-top: 30px;

    }




</style>

<html>
<title>Registration</title>
<body>
<form method="POST" action="/">
    <center>
        {% if message %}
        <p id="header">{{ message }}</p>
        {% endif %}

        <button type="submit"  id="back">GO BACK</button>
    </center>
</form>
</body>
</html>
